@page "/bodyflowpage/{id:int}"
@inject NavigationManager Navigation
@inject SignalRService Hub
@using FlowCoach.Common
@using FlowCoach.UserFrontend.Data

@if (bodyFlowArticle != null)
{
    <HeaderTitle Title="@bodyFlowArticle.Title" BackUrl="/bodyflow" />
    <div class="Article-Container">
        @for (int i = 0; i < bodyFlowArticle.Content.Count; i++)
        {
            <p>@bodyFlowArticle.Content[i]</p>

            if (i < bodyFlowArticle.Images.Count)
            {
                <img src="@bodyFlowArticle.Images[i]" alt="Image" />
            }
            else
            {
                <hr />
            }
        }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>
}

@code {

    [Parameter]
    public int Id { get; set; } //id used to get bodyflowarticle

    private BodyFlowArticle bodyFlowArticle = null;

    protected async override void OnInitialized()
    {
        await Hub.StartConnectionAsync();
        bodyFlowArticle = await Hub.HubConnection.InvokeAsync<BodyFlowArticle>(nameof(IFlowCoachHub.GetArticleBy), Id);

        StateHasChanged();
    }

}
