* {
    color: whitesmoke;
    overflow-x: hidden;
}

#MainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
}

#MainContent p {
    width:100%;
    word-wrap: break-word;
    color: floralwhite;
}