@page "/"
@inject NavigationManager navManager
@using FlowCoach.Components
<!--Change this later to the correct path and title-->
<HeaderTitle Title="Flowcoach" BackUrl="/" />

<div id="BodyContainer">
    @foreach (var card in flowCoachCards)
    {
        <FlowCoachCardComponent Title="@card.Title"
                                Path="@card.Path"
                                Image="@card.ImageUrl"
                                Description="@card.Description" />
    }
</div>


@code {
    public List<FlowCoachCard> flowCoachCards = new List<FlowCoachCard>(); //this list will be used to contain the infomation from the db later

    protected override void OnInitialized()
    {
        flowCoachCards.Add(new FlowCoachCard
            {
                CardId = 1,
                Title = "Emotion Panel",
                Path = "/emotionPanel",
                Description = "This is the description of the Emotion Panel",
                ImageUrl = @"Images/Stressed.jfif"
            });
        flowCoachCards.Add(new FlowCoachCard
            {
                CardId = 2,
                Title = "Selfcare Panel",
                Path = "/selfcare",
                Description = "This is the description of the selfcare Panel",
                ImageUrl = @"Images/Angst.jfif"
            });
        flowCoachCards.Add(new FlowCoachCard
            {
                CardId = 3,
                Title = "Selfcare Panel",
                Path = "/selfcare",
                Description = "This is the description of the selfcare Panel",
                ImageUrl = @"Images/Angst.jfif"
            });
    }


}


