@page "/"
@inject NavigationManager Navigation
@inject SignalRService Hub
@using FlowCoach.Common
@using FlowCoach.Services
@using FlowCoach.UserFrontend.Data
@using FlowCoach.Components
<!--Change this later to the correct path and title-->

@if (flowCoachCards != null){
    
<HeaderTitle Title="Flowcoach" BackUrl="" />
<div id="BodyContainer">
    @foreach (var card in flowCoachCards)
    {
        <FlowCoachCardComponent Title="@card.Title"
                                Path="@card.Path"
                                Image="@card.ImageUrl"
                                Description="@card.Description" />
    }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>
}


@code {
    public List<FlowCoachCard> flowCoachCards; //this list will be used to contain the infomation from the db later

    protected async override void OnInitialized()
    {
        await Hub.StartConnectionAsync();
        if (Hub.HubConnection.State == HubConnectionState.Connected)
        {
            flowCoachCards = await Hub.HubConnection.InvokeAsync<List<FlowCoachCard>>(nameof(IFlowCoachHub.GetFlowCoachCards));
        }
        else
        {
            // Handle the case where the connection is not active
            Console.WriteLine("Connection is not active.");
        }
        StateHasChanged();
    }


}


