@page "/"
@inject NavigationManager Navigation
@using FlowCoach.Components
<!--Change this later to the correct path and title-->

@if (flowCoachCards != null){
    
<HeaderTitle Title="Flowcoach" BackUrl="" />
<div id="BodyContainer">
    @foreach (var card in flowCoachCards)
    {
        <FlowCoachCardComponent Title="@card.Title"
                                Path="@card.Path"
                                Image="@card.ImageUrl"
                                Description="@card.Description" />
    }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>
}


@code {
    private HubConnection hubConnection;

    public List<FlowCoachCard> flowCoachCards; //this list will be used to contain the infomation from the db later

    protected async override void OnInitialized()
    {
        hubConnection = new HubConnectionBuilder()
           .WithUrl(Navigation.ToAbsoluteUri("https://localhost:7003/flowcoachhub"))
           .Build();

        await hubConnection.StartAsync();
        flowCoachCards = await hubConnection.InvokeAsync<List<FlowCoachCard>>("GetFlowCoachCards");

        StateHasChanged();
    }


}


