@inject SignalRService Hub
@using FlowCoach.Common
@using FlowCoach.UserFrontend.Data
<h3>SelfCarePage</h3>

@code {

    [Parameter]
    public int Id { get; set; } //id used to get bodyflowarticle

    private SelfCareArticle selfCareArticle = null;

    protected async override void OnInitialized()
    {
    
    }
}
