<!--This component will be used for the various cards in the system-->

<div class="Card" @onclick="Redirect">
    <img src="@Image" alt="Image of flowcoach logo" />
    <h4>@Title</h4>
</div>

@code {
    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Path { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public int Id { get; set; } 


    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;


    private void Redirect()
    {
        if (!string.IsNullOrEmpty(Path))
        {
            NavigationManager.NavigateTo(Path);
        }
    }
}
