<div class="Card" @onclick="Redirect">
        <img src="@Image" alt="Image of flowcoach logo" />
        <h4>@Title</h4>
        <p>@Description</p>
</div>

@code {
    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Path { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private void Redirect()
    {
        if (!string.IsNullOrEmpty(Path))
        {
            NavigationManager.NavigateTo(Path);
        }
    }
}
