.Card {
    width: 45%;
    background-color: #272727;
    color: white;
    height: 225px;
    border-radius: 5%;
    margin-top: 0.75rem;
}

    .Card img {
        width: 100%;
        height: 125px;
        border-radius: 5%;
    }

    .Card p,h4 {
        padding-left: 3px;
    }
