.HeaderTitle {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    position: relative;
    background-color: #6B5264;
    height: 2.5rem;
    
}

    .HeaderTitle i {
        font-size: 1.5rem;
        text-align: center;
        position: absolute;
        left: 0.4rem;
        top: 0.5rem;
    }

   
