@inject NavigationManager navigationManager

<div class="HeaderTitle">
    @if (BackUrl != null && BackUrl != string.Empty)
    {
        <i @onclick="NavigateBack" class="fa-solid fa-arrow-left"></i>
    }
    <h1>@Title</h1>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string BackUrl { get; set; }

    private void NavigateBack()
    {

        navigationManager.NavigateTo(BackUrl);
    }
}
