<div class="Navbar">
    <div class="NavbarElementContainer">

        <div class="NavbarElement">
            <i class="fa-thin fa-grid" style="color: #FFD43B;"></i>
            <p class="NavbarText">MYFLOW</p>    <!--Change p to be links to the different pages-->
        </div>

        <div class="NavbarElement" @onclick="NavigateToFlowCoach">
            <i class="fa-thin fa-grid" style="color: #FFD43B;"></i>
            <p class="NavbarText">FLOWCOACH</p>
        </div>

        <div class="NavbarElement" @onclick="NavigateToBodyFlow">
            <i class="fa-thin fa-grid" style="color: #FFD43B;"></i>
            <p class="NavbarText">BODYFLOW</p>
        </div>

        <div class="NavbarElement">
            <i class="fa-thin fa-grid" style="color: #FFD43B;"></i>
            <p class="NavbarText">FLOWJOURNAL</p>
        </div>
    </div>
</div>


@inject NavigationManager NavManager
@code {

    private void NavigateToFlowCoach()
    {
        NavManager.NavigateTo("/flowcoach");
    }

    private void NavigateToBodyFlow()
    {
        NavManager.NavigateTo("/bodyflow");
    }

    
}
