<div class="Navbar">
    <div class="NavbarElementContainer">

        <div class="NavbarElement">
            <i class="fa-regular fa-user" style="color:whitesmoke;"></i>
            <p class="NavbarText">MYFLOW</p>    <!--Change p to be links to the different pages-->
        </div>

        <div class="NavbarElement" @onclick="NavigateToFlowCoach">
            <i class="fa-light fa-grid-2" style="color:whitesmoke;"></i>
            <p class="NavbarText">FLOWCOACH</p>
        </div>

        <div class="NavbarElement" @onclick="NavigateToBodyFlow">
            <i class="fa-solid fa-dharmachakra" style="color:whitesmoke;"></i>
            <p class="NavbarText">BODYFLOW</p>
        </div>

        <div class="NavbarElement">
            <i class="fa-solid fa-book" style="color:whitesmoke;"></i>
            <p class="NavbarText">FLOWJOURNAL</p>
        </div>
    </div>
</div>


@inject NavigationManager NavManager
@code {

    private void NavigateToFlowCoach()
    {
        NavManager.NavigateTo("/");
    }

    private void NavigateToBodyFlow()
    {
        NavManager.NavigateTo("/bodyflow");
    }

    
}
