<div class="Navbar">
    <div class="NavbarElementContainer">
        <div class="NavbarElement">
            <FontAwesomeIcon Icon="@FontAwesome.User" Color="white" Size="17.5px"/>
            <p class="NavbarText" >MYFLOW</p>    <!--Change p to be links to the different pages-->
        </div>
        <div class="NavbarElement" @onclick="NavigateToFlowCoach">
            <FontAwesomeIcon Icon="@FontAwesome.Table" Color="white" Size="17.5px" />
            <p class="NavbarText">FLOWCOACH</p>
        </div>
        <div class="NavbarElement" @onclick="NavigateToBodyFlow">
            <FontAwesomeIcon Icon="@FontAwesome.Eye" Color="white" Size="17.5px" />
            <p class="NavbarText">BODYFLOW</p>
        </div>
        <div class="NavbarElement">
            <FontAwesomeIcon Icon="@FontAwesome.Star" IconType="IconType.Regular" Color="white" Size="17.5px" />
            <p class="NavbarText">FLOWJOURNAL</p>
        </div>
    </div>
</div>


@inject NavigationManager NavManager
@code {


   

    private void NavigateToFlowCoach()
    {
        NavManager.NavigateTo("/flowcoach");
    }

    private void NavigateToBodyFlow()
    {
        NavManager.NavigateTo("/bodyflow");
    }

    


}
