@using FlowCoach.UserFrontend.Data
@inherits LayoutComponentBase

<PageTitle>FlowCoach.UserFrontend</PageTitle>

        <div class="page">
         

            <main>
                <div class="top-row px-4">
                </div>

                <article class="">
                    @Body
                </article>
            </main>

            <footer class="NavBar">
                <NavBar />
            </footer>

        </div>
@code {

}

