@inherits LayoutComponentBase

<PageTitle>FlowCoach.UserFrontend</PageTitle>

<CascadingValue Value="title">
    <CascadingValue Value="BackUrl">
        <div class="page">
            <header>
                <HeaderTitle Title="@title" BackUrl="@BackUrl" />
            </header>
            <main>
                <div class="top-row px-4">
                </div>

                <article class="">
                    @Body
                </article>
            </main>

            <footer class="NavBar">
                <NavBar />
            </footer>

        </div>
    </CascadingValue>
</CascadingValue>
@code {
    [Parameter]
    public string title { get; set; } = string.Empty;

    [Parameter]
    public string BackUrl { get; set; } = string.Empty;
}

